body {
	background-color: rgb(165, 21, 88);
}
.main_div {
	margin: 2px 25rem;
	display: flex;
	justify-content: center;
	background-color: rgb(124, 11, 64);
}
.main_div form .form_stuff {
	display: flex;
}

.labels label {
	display: block;
	font-size: 1.2rem;
	color: white;
	margin: 25px;
	margin-left: 0px;
}
.inputs .ip,
select {
	display: block;
	margin: 25px;
}
.inputs label {
	margin-left: 25px;
	font-size: 1.2rem;
	color: white;
}
.main_div form button {
	width: 100%;
	height: 2.5rem;
	border-radius: 10px;
	font-size: 1.3rem;
	font-weight: 700;
}
